/*
.outerBox{
	padding: 20px;
}

.innerBox{
	width: 20px;
	height: 20px;
	margin: 2px;
	padding: 3px;
	background-color: #533;
	/*color: #00;*/
	float: left;
}

#root{
	background-color: #333;
	color: #444;
}

box{
	width: 300px;
	height: 300px;
}

customBox{
	width: 30px;
	height: 30px;
	background-color: #555;
	float: left;
}

#box2{
	position: absolute;
	left: 400px;
}

*/

#box2{
	border: none;
}