
.outerBox{
	padding: 20px;
}

.innerBox{
	width: 20px;
	height: 20px;
	margin: 2px;
	padding: 3px;
	background-color: #533;
	float: left;
}

#root{
	background-color: #333;
	color: #444;
}

box{
	width: 300px;
	height: 300px;
}

customBox{
	width: 60px;
	height: 60px;
	background-color: #555;
	float: left;
}

#box2{
	position: absolute;
	left: 400px;
}

#box3{
	position: absolute;
	left: 300;
	top: 400;
}