debugger{
	background-color: #fff;
	width: 300;
	height: auto;
	padding: 5;
	padding-top: 10;
}

debugger h1{
	mouse: ignore;
	/*
	border-bottom-width: 1;
	border-color: #000;
	*/
	padding-bottom: 0;
	margin-bottom: 5;
}

infoViewer{
	background-color: #fff;
	width: 100%;
	height: auto;
}

infoViewer h1{
	font-size: 12;
}

infoViewer h2{
	font-size: 8;
	background-color: #222;
	color: #fff;
	padding-top: 5;
	padding: 5;
	padding-bottom: 0;
	margin-top: 1;
}

infoViewer h3{
	font-size: 8;
	color: #000;
	padding: 5;
	padding-bottom: 0;
	/*
	border-bottom-width: 1px;
	border-color: #000;
	*/
	background-color: #ddd;
}

infoViewer p{
	font-size: 8;
	color: #222;
	padding: 5;
	padding-bottom: 0;
}
