debugger{
	background-color: #fff;
	width: 200;
	height: 900;
}

infoViewer{
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0px;
}

infoViewer h1{
	font-size: 20;
}

infoViewer h2{
	font-size: 15;
}
