debugger{
	background-color: #fff;
	width: 200;
	height: 200;
}

/*
infoViewer{
	background-color: #ccc;
	width: 300;
	height: 100%;
	position: absolute;
	right: 0px;
}

infoViewer h1{
	font-size: 20;
}

infoViewer h2{
	font-size: 15;
}
*/