#root{
	background-color: #333;
}

.quarter{
	width: 50%;
	height: 50%;
	float: left;
	padding: 15:
	border-color: #ff0000;
	border-width: 3px;
}

.inside{
	width: 50%;
	height: 50%;
	background-color: #ff00ff;
}